.hr__addButton {
  display: block;
  padding: 1rem;
  outline: none;
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 700;
  background-color: black;
  cursor: pointer;
  box-shadow: 4px 4px grey;
  transition: all 0.2s ease-in-out;
}

.hr__addButton:active {
  box-shadow: none;
}

@media screen and (max-width: 480px) {
  .hr__addButton {
    font-size: 1.25rem;
    box-shadow: none;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .hr__addButton {
    font-size: 1.25rem;
    box-shadow: none;
    padding: 0.5rem;
  }
}
