.activity-background {
  max-width: 1450px;
  margin: 0 auto;
  background: linear-gradient(
      90deg,
      rgba(82, 0, 106, 0.4) 0%,
      rgba(205, 17, 59, 0.4) 30%,
      rgba(255, 118, 0, 0.4) 70%,
      rgba(255, 169, 0, 0.4) 100%
    ),
    url("./anastase-maragos-FP7cfYPPUKM-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.header-title-act {
  font-size: 3rem;
}

.hr__homepage {
  max-width: 1450px;
  margin: 0 auto;
  padding: 2rem 10rem;
  color: white;
}

.hr__list-activity {
  height: 100vh;
  padding: 1.5rem;
  border: 1px solid white;
}

.hr__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hr__card-list {
  height: 80vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  overflow-y: auto;
}

.hr__cart-list_empty {
  display: flex;
  justify-content: center;
}

.hr__cart-list_empty p {
  font-size: 1.5rem;
}

.hr__addbutton-act {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .hr__homepage {
    padding: 1rem 2rem;
  }
  .hr__card-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .hr__title {
    font-size: 1.75rem;
  }

  .header-title-act {
    font-size: 2rem;
  }
  .hr__list-activity {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hr__homepage {
    padding: 1rem 2rem;
  }
  .hr__card-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .hr__title {
    font-size: 1.5rem;
  }

  .header-title-act {
    font-size: 2rem;
  }
  .hr__list-activity {
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .hr__homepage {
    padding: 1rem 2rem;
  }
  .hr__card-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .hr__title {
    font-size: 1.25rem;
  }

  .header-title-act {
    font-size: 2rem;
  }
  .hr__list-activity {
    height: 100%;
  }
}
