.hr__profile {
  color: white;
  /* color: #00e600; */
}

.hr__profile img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.hr__profile h2,
.hr__profile p,
.hr__profile h3 {
  margin-bottom: 1rem;
}

.hr__profile p {
  text-align: left;
  /* font-size: 0.8rem; */
}
